@import "https://fonts.googleapis.com/css?family=Rubik+One";

.pushable {
  background-color: #134364;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  font-family: "Rubik One", sans-serif;
  text-decoration: none;
  font-size: 2rem;
}
.front {
  display: block;
  padding: 12px 42px;
  border-radius: 12px;
  background-color: #3498db;
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front {
  transform: translateY(-2px);
}
