.modalContainer {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #0e79b2;
  font-family: "Inter", sans-serif;
}

.modalContent {
  background-color: #c3eb78;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 15px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.activityTitle {
  /* text-align: center; */
  font-family: "Syne", sans-serif;
  margin-top: 50px;
  font-size: 1.25rem;
}
